{% extends 'account_base.html' %}

{% block title %}
  Do'N Achieve-重置密码完成
{% endblock %}

{% block body-content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">密码已重置</h3>
          <div class="alert alert-success" role="alert">密码重置完成！请重新登录来浏览网站吧！！</div>
          <a href="{% url 'login' %}" class="btn btn-primary btn-block">重新登录</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}