{% extends 'account_base.html' %}

{% block title %}
  {% if validlink %}
    Do'N Achieve-重置密码
  {% else %}
    重置密码
  {% endif %}
{% endblock %}

{% block body-content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title text-center">{{ form.user.username }}-重置密码</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">重置密码</button>
            </form>
          {% else %}
            <h3 class="card-title text-center">重置密码</h3>
            <div class="alert alert-danger" role="alert">
            链接无效，请重新尝试
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-primary btn-block">重置密码</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}